<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/w3.css">
    <script type="text/ecmascript" src="scripts/angular-1.7.5/angular.min.js"></script>
  </head>
  <body ng-app="Mod1App" ng-strict-di>
    <div ng-controller="LunchCheckerController" class="w3-rest">
      <div class="w3-card-2 w3-display-middle w3-half">
        <div class="w3-container w3-indigo">
          <h1>Lunch Checker</h1>
        </div>
        <form class="w3-container">
          <input type="text" ng-class="{
            'w3-input': true,
            'w3-border': true,
            'w3-margin-top': true,
            'w3-border-red': statusColor == 'red',
            'w3-border-green': statusColor == 'green'}" placeholder="list comma separated dishes you usually have for lunch" ng-model="list"></input>
          <div class="w3-tiny w3-margin-bottom">
            (empty strings or whitespace are not taken into account)
          </div>
          <button class="w3-button w3-indigo" ng-click="checkLunch();">Check If Too Much</button><br/>
          <div ng-class="{
            'w3-margin-top': true,
            'w3-margin-bottom': true,
            'w3-text-red': statusColor == 'red',
            'w3-text-green': statusColor == 'green'}">{{statusMessage}}</div>
        </form>
      <div>
    </div>
  <script type="text/ecmascript" src="scripts/app.js"></script>
</body>
</html>
